use flake .

# foundry to use solc.nix provided solc
export FOUNDRY_OFFLINE=true
export FOUNDRY_SOLC_VERSION=`which solc-0.8.26`

# following the advice from https://github.com/direnv/direnv/wiki/.envrc-Boilerplate
# load developer's own local .env
dotenv_if_exists || direnv status # https://direnv.net/man/direnv-stdlib.1.html

# initialize submodules
if git submodule status | grep -E '^-'; then
    make submodule-init
fi
